.form{
    background-color: #343A40;
    border-radius: 5px;
    width: 40vw;
    margin: 20px auto;
    /* height: 600px; */
    padding: 20px;
    color: #fff;
}

.form-body{
    text-align: center;
    padding: 20px 10px;
    font-size: 1.5rem;
}

.form-body > *{
    padding:  5px;
}
.form-body1{
    text-align: center;
    padding: 20px 10px;
    font-size: 1.5rem;
}
.form-body1 > *{
    padding: 5px;
}

button.btn {
    width: 7vw;
    height: 3vw;
    font-size: 1.3vw;
    padding: 0;
    background-color: #fff;
}